<%= will_paginate(@things) %>

<%= render :partial => "things/thing", :collection => @things %>

<%= will_paginate(@things) %>

<div id="source_list">
<%= render :partial => "sources/source", :collection => @sources %>
</div>